body {
    font-family: var(--font-body);
    color: var(--color-text-primary);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-main);
}

html,
body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}