footer {
  background-color: var(--color-bg-main);
  width: 100%;
}

.footer-content {
  width: 100%;
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  font-size: small;
}

.footer-content > * {
  flex: 1;
}

.footer-copy {
  text-align: center;
}

.footer-icons {
  text-align: right;
  padding-right: 0.25rem;
}
