/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

:root {
  --color-text-primary: #000000;
  --color-text-inverse: #ffffff;
  --color-bg-main: #D9D9D9;
  --color-bg-blue: #0B3642;
  --color-bg-gold: #D9A441;

  --font-body: 'Inter', sans-serif;
  --font-heading: 'Montserrat', sans-serif;
}